body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 400px;
  height: 550px;
  margin: 45px auto;
  background-color: #1b1b1b;
  border: 5px solid rgba(255, 255, 255, 0.788);
  border-radius: 20px;
  overflow: hidden;
}

.white-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#line {
  width: 5px;
  height: 100vh;
  background-color: white;
}

#game-area {
  position: relative;
  width: 100%;
  height: 100%;
}

#player-car {
  position: absolute;
  bottom: 20px;
  left: 175px;
  width: 50px;
  height: 80px;
  background-image: url(/assets/images/images-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.obstacle {
  position: absolute;
  width: 50px;
  height: 80px;
  background-image: url(/assets/images/images__2_-removebg-preview.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#score-board {
  position: absolute;
  top: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(18, 255, 18);
  & h1 {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

#game-menu {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#game-menu button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  background-color: rgb(197, 3, 3);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#game-menu button:hover {
  background-color: rgb(255, 0, 0);
}

.hidden {
  display: none;
}

#message {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  color: red;
  font-size: 16px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
